# vim:ft=sh

SCRIPT_PWD="$(realpath "${BASH_SOURCE[0]}")"
SCRIPT_DIR=$(dirname "${SCRIPT_PWD}")

[[ -f "$SCRIPT_DIR/data/.cipher_key" ]] ||
    cp /personal/data/passwords/github/track-payments-key/cipher_key "$SCRIPT_DIR"/data/.cipher_key

git config diff.decrypt.textconv "./decrypt.sh"
