# vim:ft=sh

SCRIPT_PWD="$(realpath "${BASH_SOURCE[0]}")"
SCRIPT_DIR=$(dirname "${SCRIPT_PWD}")

if ! [[ -f "$SCRIPT_DIR/data/.cipher_key" ]]; then
    if cp /personal/data/passwords/github/track-payments-key/cipher_key "$SCRIPT_DIR"/data/.cipher_key; then
        echo 'cipher key successfull copied'
    else
        echo 'ERROR: UNABLE TO COPY CIPHER KEY!'
    fi
fi

git config diff.decrypt.textconv "./decrypt.sh"
