:root {
    --bg-color: #112233;
    --fg-color: #998877;
}

h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr,
th,
td {
    border: 1px solid black;
    text-align: center;
}
